div.input,
div.acf-comment-fields {
  margin-bottom: 2rem;

  .acf-label {
    display: none;
  }

  &.acf-fields.-clear > .acf-field {
    margin: 0;
  }

  input,
  .acf-field input,
  textarea {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;

    width: 100%;

    background-color: transparent;
    border: none;
    border-bottom: transparent 2px solid;

    transition: all 0.3s ease-in-out;

    border-bottom: #000 2px solid;

    &:focus {
      outline: none;
      animation: pulse 2s ease-in-out 0s 1;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: rgba(0, 0, 0, 0.75);
  }

  input[type="submit"] {
    margin-top: 1rem;
    background-color: transparent;
    border: #000 2px solid;
    color: #000;

    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #000;
      color: #fff;
      @extend .pulse;
    }
  }
}

div.acf-comment-fields {
  @extend .col-12;
}
