div.input {
  margin-bottom: 2rem;

  input,
  textarea {
    font-family: "Anton", sans-serif;
    font-size: 2rem;

    width: 100%;

    background-color: transparent;
    border: none;
    border-bottom: transparent 2px solid;

    transition: all 0.3s ease-in-out;

    &:not(:placeholder-shown),
    &:focus {
      border-bottom: #000 2px solid;
    }
  }

  input[type="submit"] {
    background-color: transparent;
    border: #000 2px solid;
    color: #000;

    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
