@import "animation";
@import "fonts";
@import "input";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";

$fa-font-path: "../font";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .anton;
  margin: 0;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
  @extend .pulse;
}

* {
  box-sizing: border-box;
}

$font-sizes: (
  sm: 1.25rem,
  md: 1.5rem,
  lg: 1.5rem,
  xl: 1.5rem
);

p,
div.input input,
div.acf-comment-fields .acf-field input,
div.input textarea,
div.acf-comment-fields .acf-field textarea {
  font-size: 1.25rem;
  @each $breakpoint, $font-size in $font-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $font-size;
    }
  }
}

header {
  position: absolute;
  left: 0;
  right: 0;
  height: 6rem;

  margin-top: 2rem;

  .container {
    height: 100%;
  }

  .row {
    align-items: center;
    height: 100%;

    & > div {
      height: 100%;
    }

    svg {
      max-width: 100%;
      height: 100%;
      width: auto;
    }
  }
}

$nav-sizes: (
  sm: 1.5rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 2rem
);

nav {
  @extend .anton;

  font-size: 1.25rem;
  @each $breakpoint, $nav-size in $nav-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $nav-size;
    }
  }

  background-color: #fff;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  padding: 0.5rem 0;
  border-top: #000 3px solid;
  border-bottom: #000 3px solid;

  z-index: 999999;

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    a {
      border: none;
      text-decoration: none;
      display: inline-block;
    }

    div {
      padding: 0 0.5rem;
    }
  }
}

.flex-spacer {
  flex-grow: 1;
}

.anton {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  letter-spacing: 0.04rem;
}

.variaktion {
  @extend .anton;
  margin: 0;
}

.variaktion span {
  display: inline-block;
  transform: rotateZ(900deg);
  transition: all 1s ease-in-out;
}

.variaktion:hover span {
  transform: rotateY(0deg);
}

$h2-sizes: (
  sm: 3rem,
  md: 4rem,
  lg: 5rem,
  xl: 5rem
);

.h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;

  @each $breakpoint, $h2-size in $h2-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $h2-size;
    }
  }
}

.address p {
  margin: 0;
}

$hr-displays: (
  sm: block,
  md: none,
  lg: none,
  xl: none
);

footer {
  border-top: #000 3px solid;
  background-color: #fff;
  padding: 2rem 0;

  hr {
    border: none;
    border-bottom: #000 2px solid;
  }

  .d-sm-none {
    @each $breakpoint, $hr-display in $hr-displays {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        display: $hr-display;
      }
    }
  }

  p {
    margin: 0;
    font-size: 1rem;
  }

  .logo svg {
    width: 70%;
    height: auto;
  }
}

ul.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li > a {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: none;
    text-decoration: none !important;

    i {
      color: #000;
      border: #000 2px solid;
      border-radius: 50%;

      font-size: 1.5rem;
      width: 3rem;
      height: 3rem;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 0.5rem;

      transition: all 0.3s ease-in-out;
    }

    div {
      display: inline-block;
      text-decoration: underline;
    }
  }

  li > a:hover {
    i {
      background-color: #000;
      color: #fff;
    }
    span {
      text-decoration: underline;
    }
  }
}

$logo-heights: (
  sm: 15rem,
  md: 15rem,
  lg: 20rem,
  xl: 50vh
);

.spray-logo {
  position: relative;

  overflow: hidden;
  height: calc(100vh - 4.375rem);

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    overflow: visible;

    transition: all 0.3s ease-in-out;

    height: 12.5rem;
    width: auto;

    @each $breakpoint, $logo-height in $logo-heights {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        height: $logo-height;
      }
    }
  }
}

.clip-v {
  clip-path: polygon(
    24.28930627% 100%,
    0% 0%,
    37.26388496% 0%,
    51.35696191% 68.0232558%,
    63.8841414% 0%,
    100% 0%,
    76.85872028% 100%
  );
}

.clip-a {
  clip-path: polygon(
    0 100%,
    18.20346296% 0%,
    82.02524265% 0%,
    100% 100%,
    64.26041748% 100%,
    61.62859137% 84%,
    38.81943312% 84%,
    36.62624472% 100%,
    0 100%,
    41.67057781% 68.0696158%,
    58.77744668% 68.0696158%,
    50.44333101% 17.1965076%,
    48.68878052% 17.1965076%,
    41.67057781% 68.0696158%
  );
}

.lineup {
  background-color: #1c258d;
  color: #fff;

  padding-top: 3rem;
  padding-bottom: 5rem;
}

.artists {
  @extend .anton;

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .tier-1 {
    font-size: 5rem;
  }
  .tier-2 {
    font-size: 3rem;
  }
  .tier-3 {
    font-size: 2rem;
  }

  a {
    display: inline-block;
    color: #fff;

    border-bottom: none;

    @extend .text-3d-white;
  }

  & > div > a:not(:last-child):after {
    content: "-";
    margin: 0 0.5rem;
  }
}

$h2-positions: (
  sm: relative,
  md: relative,
  lg: absolute,
  xl: absolute
);

$map-paddings: (
  sm: 2rem,
  md: 4rem,
  lg: 5rem,
  xl: 6rem
);

$map-scalings: (
  sm: 2,
  md: 1,
  lg: 1,
  xl: 1
);

.map {
  @each $breakpoint, $map-padding in $map-paddings {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      padding-top: $map-padding;
    }
  }

  background-color: #1c258d;
  overflow: hidden;

  .title {
    padding-top: 3rem;
    position: relative;
    color: #fff;
    z-index: 1;

    @each $breakpoint, $h2-position in $h2-positions {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        position: $h2-position;
      }
    }
  }

  svg {
    transform: scale(2);
    transition: all 0.3s ease-in-out;

    @each $breakpoint, $map-scaling in $map-scalings {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        transform: scale($map-scaling);
      }
    }

    z-index: -1;
  }
}

.help {
  color: #fff;
  background-color: #dd1e1c;

  a {
    color: #fff;
  }

  p {
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
}

.sponsors {
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;

  .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    margin-bottom: 2rem;

    div {
      height: 9rem;
      padding: 4rem 4rem 0 0;

      &:first-child {
        padding-left: 0;
      }

      &::last-child {
        padding-right: 0;
      }
    }
  }

  svg,
  img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
}

$date-sizes: (
  sm: 2rem,
  md: 3rem,
  lg: 4rem,
  xl: 5rem
);

.info-spacer {
  padding-top: 4rem;
  background-color: #e5b123;
}

.info {
  position: relative;
  background-color: #e5b123;
  z-index: 0;
  padding-bottom: 2rem;

  .container {
    position: relative;
    z-index: 1;
  }

  svg {
  }

  .date {
    margin-bottom: 10rem;

    h2 {
      font-size: 1.3rem;
      margin-top: 1.3rem;

      @each $breakpoint, $date-size in $date-sizes {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          font-size: $date-size;
          margin-top: $date-size;
        }
      }
    }
  }
}

.page-content {
  margin-bottom: 5rem;
}
