$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1921px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1300px
);

@import "animation";
@import "fonts";
@import "input";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";

$fa-font-path: "../font";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .anton;
  margin: 0;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
  @extend .pulse;
}

* {
  box-sizing: border-box;
}

hr {
	border: none;
	border-top: #fff 3px solid;
	margin-bottom: 1rem;
}

$font-sizes: (
  sm: 1.25rem,
  md: 1.5rem,
  lg: 1.5rem,
  xl: 1.5rem,
  xxl: 2rem
);

p,
div.input input,
div.acf-comment-fields .acf-field input,
div.input textarea,
div.acf-comment-fields .acf-field textarea,
.table {
  font-size: 1.25rem;
  @each $breakpoint, $font-size in $font-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $font-size;
    }
  }
}

header {
  position: absolute;
  left: 0;
  right: 0;
  height: 6rem;

  margin-top: 2rem;

  .container {
    height: 100%;
  }

  .row {
    align-items: center;
    height: 100%;

    & > div {
      height: 100%;
    }

    svg {
      max-width: 100%;
      height: 100%;
      width: auto;
    }
  }
}

.header-row {
	div:last-child svg {
		margin-left: auto;
		display: block;
	}
}

$nav-sizes: (
  sm: 1.5rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 2rem,
  xxl: 3rem
);

$nav-heights: (
  sm: 4rem,
  md: 4rem,
  lg: 4rem,
  xl: 5rem,
  xxl: 6rem
);

nav {
  @extend .anton;

  font-size: 1.25rem;
  @each $breakpoint, $nav-size in $nav-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $nav-size;
    }
  }

  background-color: #fff;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  padding: 0.5rem 0;
  border-top: #000 3px solid;
  border-bottom: #000 3px solid;
  
  z-index: 999999;
  
  /* fix positioning */
  height: 4rem;
  margin-top: -4rem;
  @each $breakpoint, $nav-height in $nav-heights {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      height: $nav-height;
	  margin-top: -$nav-height;
    }
  }
  
  display: flex;
  justify-content: center;
  
  .container {
	  display: flex;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;

    a {
      border: none;
      text-decoration: none;
      display: inline-block;
    }

    div {
      padding: 0 0.5rem;
      
      &:first-child{
	      padding-left: 0;
      }
      &:last-child{
	      padding-right: 0;
      }
    }
  }
}

.flex-spacer {
  flex-grow: 1;
}

.anton {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  letter-spacing: 0.005em;
}

.variaktion {
  @extend .anton;
  margin: 0;
}

.variaktion span {
  display: inline-block;
  transform: rotateZ(900deg);
  transition: all 1s ease-in-out;
}

.variaktion:hover span {
  transform: rotateY(0deg);
}

$h2-sizes: (
  sm: 3rem,
  md: 4rem,
  lg: 5rem,
  xl: 5.8rem,
  xxl: 6.5rem
);

.h2 {
  font-size: 2.5rem;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  margin-bottom: 2rem;

  @each $breakpoint, $h2-size in $h2-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $h2-size;
    }
  }
}

$h3-sizes: (
  sm: 1.5rem,
  md: 2rem,
  lg: 3rem,
  xl: 4rem,
  xxl: 4.5rem
);

.h3 {
  font-size: 2rem;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

  @each $breakpoint, $h3-size in $h3-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $h3-size;
    }
  }
}

.address p {
  margin: 0;
}

$hr-displays: (
  sm: block,
  md: none,
  lg: none,
  xl: none,
  xxl: none
);

$footer-h2-sizes: (
  xxl: 2rem
);

$footer-p-sizes: (
  xxl: 1.5rem
);

footer {
  border-top: #fff 3px solid;
  background-color: #1C0B47;
  color: #fff;
  padding: 2rem 0;

  hr {
    border: none;
    border-bottom: #fff 2px solid;
  }

  .d-sm-none {
    @each $breakpoint, $hr-display in $hr-displays {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        display: $hr-display;
      }
    }
  }
  
  h2 {
	font-size: 1.5rem;
	@each $breakpoint, $footer-h2-size in $footer-h2-sizes {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        font-size: $footer-h2-size;
      }
    }  
  }

  p {
    margin: 0;
    font-size: 1rem;
    @each $breakpoint, $footer-p-size in $footer-p-sizes {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        font-size: $footer-p-size;
      }
    }
  }

  .logo svg {
    width: 70%;
    height: auto;
  }
}

$footer-icon-sizes: (
  xxl: 5rem
);

$footer-icon-text-sizes: (
  xxl: 3rem
);

$footer-icon-margin-right-sizes: (
  xxl: 1rem
);

ul.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li > a {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: none;
    text-decoration: none !important;
    color: #fff;

    i {
      color: #fff;
      border: #fff 2px solid;
      border-radius: 50%;

      font-size: 1.5rem;
      
      @each $breakpoint, $footer-icon-text-size in $footer-icon-text-sizes {
      	@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          font-size: $footer-icon-text-size;
        }
      }
      
      width: 3rem;
      height: 3rem;
      
      @each $breakpoint, $footer-icon-size in $footer-icon-sizes {
      	@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          width: $footer-icon-size;
          height: $footer-icon-size;
        }
      }

      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 0.5rem;
      @each $breakpoint, $footer-icon-margin-right-size in $footer-icon-margin-right-sizes {
      	@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          margin-right: $footer-icon-margin-right-size;
        }
      }

      transition: all 0.3s ease-in-out;
    }

    div {
      display: inline-block;
      text-decoration: underline;
      
      @each $breakpoint, $footer-p-size in $footer-p-sizes {
	    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
	      font-size: $footer-p-size;
	    }
      }
    }
  }

  li > a:hover {
    i {
      background-color: #fff;
      color: #000;
    }
    span {
      text-decoration: underline;
    }
  }
}

$logo-heights: (
  sm: 15rem,
  md: 15rem,
  lg: 45rem,
  xl: 100vh
);

.spray-logo {
  position: relative;

  overflow: hidden;
  height: 100vh;
  
  /* Avoid Chrome to see Safari hack */
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available; /* https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
  }
  
  /* height: calc(100vh - 3.875rem); */

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    overflow: visible;

    transition: all 0.3s ease-in-out;

    height: 12.5rem;
    width: auto;

    @each $breakpoint, $logo-height in $logo-heights {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        height: $logo-height;
      }
    }
  }
}

.clip-v {
  clip-path: polygon(
    24.28930627% 100%,
    0% 0%,
    37.26388496% 0%,
    51.35696191% 68.0232558%,
    63.8841414% 0%,
    100% 0%,
    76.85872028% 100%
  );
}

.clip-a {
  clip-path: polygon(
    0 100%,
    18.20346296% 0%,
    82.02524265% 0%,
    100% 100%,
    64.26041748% 100%,
    61.62859137% 84%,
    38.81943312% 84%,
    36.62624472% 100%,
    0 100%,
    41.67057781% 68.0696158%,
    58.77744668% 68.0696158%,
    50.44333101% 17.1965076%,
    48.68878052% 17.1965076%,
    41.67057781% 68.0696158%
  );
}

.lineup {
  color: #fff;

  padding-top: 3rem;
  padding-bottom: 5rem;
  position: relative;
}

#lineup-bbackground {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	background-color: #EBBD04;
	z-index: -2;
}
#lineup-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	
	/* Avoid Chrome to see Safari hack */
    @supports (-webkit-touch-callout: none) {
      height: -webkit-fill-available; /* https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
    }
    
	background-image: url(../img/artists-background.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	z-index: -1;
}


$artist-displays: (
  sm: block,
  md: inline-block,
  lg: inline-block,
  xl: inline-block
);

$artist-name-sizes: (
  sm: 3rem,
  md: 3rem,
  lg: 6rem,
  xl: 6rem,
  xxl: 8rem
);

$smaller-artist-name-sizes: (
  sm: 3rem,
  md: 3rem,
  lg: 4rem,
  xl: 4rem,
  xxl: 6rem
);

$date-name-sizes: (
  sm: 3rem,
  md: 3rem,
  lg: 4rem,
  xl: 4rem,
  xxl: 6rem
);

$artist-time-displays: (
  sm: block,
  md: block,
  lg: block,
  xl: block
);

$lineup-col-max-widths: (
  xl: 100%
);
$lineup-col-flexs: (
  xl: 0 0 100%
);

$lineup-container-widths: (
  xxl: 100%
);
$lineup-container-display: (
  xxl: flex
);
$lineup-container-margins: (
  xl: auto
);

.lineup {
	.container {
		@each $breakpoint, $lineup-container-width in $lineup-container-widths {
	      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
	        max-width: $lineup-container-width;
	      }
	    }
	    @each $breakpoint, $lineup-container-margin in $lineup-container-margins {
	      @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
	        margin-left: $lineup-container-margin;
	        margin-right: $lineup-container-margin;
	      }
	    }
	    @each $breakpoint, $lineup-container-display in $lineup-container-display {
	      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
		    display: $lineup-container-display;
	      }
	    }
	}
	.col-6{
		@each $breakpoint, $lineup-col-max-width in $lineup-col-max-widths {
	      @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
	        max-width: $lineup-col-max-width;
	      }
	    }
	    @each $breakpoint, $lineup-col-flex in $lineup-col-flexs {
	      @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
	        flex: $lineup-col-flex;
	      }
	    }
	}
}

.activities {
	padding-top: 2rem;
	
	.date {
		margin-top: 3rem;
	}
}

.artists, .activities {
  @extend .anton;

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .tier-1, .tier-2, .tier-3, .tier-4{
	  margin-bottom: 3rem;
  }

  .tier-1 {
    font-size: 3rem;
    @each $breakpoint, $artist-name-size in $artist-name-sizes {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        font-size: $artist-name-size;
      }
    }
  }
  .tier-2, .tier-3, .tier-4 {
    font-size: 3rem;
    @each $breakpoint, $smaller-artist-name-size in $smaller-artist-name-sizes {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        font-size: $smaller-artist-name-size;
      }
    }
  }
  
  .date {
	  margin-bottom: 1rem;
	  
	  font-size: 3rem;
	  
	  @each $breakpoint, $date-name-size in $date-name-sizes {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          font-size: $date-name-size;
        }
      }
    
	  white-space: nowrap;
	  word-break: keep-all;
	  text-stroke: 1.5px #fff;
	  -webkit-text-stroke: 1.5px #fff;
	  color: transparent;
	  
	  img.emoji {
		  margin-left: 1rem !important;
	  }
  }
  
  .activity {
	  padding: 1rem !important;
  }

  .artist, .activity {
	padding: 0 1rem;
    display: inline-block;
    color: #fff;
    text-align: center;

    border-bottom: none;
    text-decoration: none;
    
    /*line-height: 0.4;
	margin-top: 3.5rem;*/
    /*text-shadow: 1px 1px rgba(0, 0, 0, 0.5), 2px 2px rgba(0, 0, 0, 0.5),
      3px 3px rgba(0, 0, 0, 0.5);*/
      
    & > * {
	    display: block;
	    
	    @each $breakpoint, $artist-display in $artist-displays {
		    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
			    display: $artist-display;
			}
		}
    }
      
    & > small {
	    font-size: 0.75em;
	    white-space: nowrap;
	    word-break: keep-all;
	    text-stroke: 1.5px #fff;
	    -webkit-text-stroke: 1.5px #fff;
	    color: transparent;
	    
	    display: block;
	}
  }
}

.spotify-player{
	margin-top: 4rem;
}

$h2-positions: (
  sm: relative,
  md: relative,
  lg: absolute,
  xl: absolute
);

$map-scalings: (
  sm: 2,
  md: 1,
  lg: 1,
  xl: 1
);

.map {
  position: relative;
  background-color: #5E17EB;
  overflow: hidden;
  
  padding-top: 4rem;

  .title {
    position: relative;
    color: #fff;
    z-index: 1;
    
    h2 {
	    margin-bottom: 0;
    }
    
    u {
	    display: inline-block;
    }

    @each $breakpoint, $h2-position in $h2-positions {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        position: $h2-position;
        top: 0;
      }
    }
  }

  svg {
    transform: scale(2);
    transition: all 0.3s ease-in-out;

    @each $breakpoint, $map-scaling in $map-scalings {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        transform: scale($map-scaling);
      }
    }
  }
}

.map-link, .map-link:hover {
	text-decoration: none;
}

.where-what-fr-sa, .where-what-so {
	position: relative;
	background-color: #7ED957;
	color: #fff;
	
	a {
		color: #fff;
		display: inline-block;
	}
	
	z-index: 0;
	padding-bottom: 2rem;
	  
	.container{
		margin-left: auto;
		margin-right: auto;
	}
}

.where-what-so {
	background-color: #FF00B0;
}

.programm {
	background-color: #5E17EB;
	color: #fff;
	padding-bottom: 2rem;
	
	a {
		color: #fff;
		display: inline-block;
	}
	
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}

#color-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  
  /* Avoid Chrome to see Safari hack */
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available; /* https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
  }

  background-image: url(../img/banner-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  z-index: -1;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
}

.sponsors {
  padding-bottom: 5rem;
  font-size: 1.5rem;
  
  background-color: #1C0B47;
  color: #fff;

  .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    margin-bottom: 2rem;

    a {
      height: 9rem;
      padding: 4rem 4rem 0 0;
      display: block;

      &:hover {
        animation: none;
      }

      &:first-child {
        padding-left: 0;
      }

      &::last-child {
        padding-right: 0;
      }
    }
  }

  svg,
  img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
}

$date-sizes: (
  sm: 2rem,
  md: 3rem,
  lg: 4rem,
  xl: 5rem
);

.info-spacer {
  padding-top: 4rem;
  background-color: #e5b123;
}

.info {
  position: relative;
  background-color: #e5b123;
  color: #fff;
  z-index: 0;
  padding-bottom: 2rem;

  .container {
    position: relative;
    z-index: 1;
  }

  .stamp {
    width: 60%;
    margin: 0 auto;
  }

  .date {
    margin-bottom: 10rem;

    h2 {
      font-size: 1.3rem;
      margin-top: 1.3rem;

      @each $breakpoint, $date-size in $date-sizes {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          font-size: $date-size;
          margin-top: $date-size;
        }
      }
    }
  }
}

.support {
	background-color: #7ED957;
	color: #fff;
}

#press {
	background-color: #FF00B0;
	color: #fff;
	
	a {
		color: #fff;
	}
}

$press-h3-sizes: (
  xxl: 3rem
);

.press-articles {
	& > a {
		display: block;
		text-decoration: none;
		padding-bottom: 4rem;
	}
	h3 {
		font-size: 2rem;
		margin-bottom: 0.5rem;
		
		@each $breakpoint, $press-h3-size in $press-h3-sizes {
          @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
            font-size: $press-h3-size;
          }
        }
	}
}

#family-day {
	margin-top: 3rem;
}

.family-day-info{
	margin-top: 2rem;
}

.table {
	
	margin-bottom: 1rem;
	
	td {
		padding: 0.5rem 0;
		vertical-align: top;
		
		&:first-child{
			padding-right: 3rem;
			
			@extend .anton;
			text-transform: uppercase;
			word-break: keep-all;
			white-space: nowrap;
		}
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	li {
		padding: 0.25rem 0;
	}
	
	a {
		color: #fff;
	}
}

.page {
  padding-top: 1rem;
}

.page-design-negative {
  color: #fff;
  .page-content a {
    color: #fff;
  }
}

.page-heading {
  padding-top: 16rem;
}

.page-content {
  margin-bottom: 5rem;
}

.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
}