$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1921px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1300px
);

@import "animation";
@import "fonts";
@import "input";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/grid";

$fa-font-path: "../../font";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .anton;
  margin: 0;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
  @extend .pulse;
  &:hover{
	  text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

hr {
	border: none;
	border-top: #fff 3px solid;
	margin-bottom: 1rem;
}

$font-sizes: (
  sm: 1.25rem,
  md: 1.5rem,
  lg: 1.5rem,
  xl: 1.5rem,
  xxl: 2rem
);

p,
div.input input,
div.acf-comment-fields .acf-field input,
div.input textarea,
div.acf-comment-fields .acf-field textarea,
.table {
  font-size: 1.25rem;
  @each $breakpoint, $font-size in $font-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $font-size;
    }
  }
}

header {
  position: absolute;
  left: 0;
  right: 0;
  height: 6rem;

  margin-top: 2rem;

  .container {
    height: 100%;
  }

  .row {
    align-items: center;
    height: 100%;

    & > div {
      height: 100%;
    }

    svg {
      max-width: 100%;
      height: 100%;
      width: auto;
    }
  }
}

.header-row {
	div:last-child svg {
		margin-left: auto;
		display: block;
	}
}

$nav-sizes: (
  sm: 1.5rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 2rem,
  xxl: 3rem
);

$nav-heights: (
  sm: 4rem,
  md: 4rem,
  lg: 4rem,
  xl: 5rem,
  xxl: 6rem
);

nav {
  @extend .anton;

  font-size: 1.25rem;
  @each $breakpoint, $nav-size in $nav-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $nav-size;
    }
  }

  background-color: #fff;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  padding: 0.5rem 0;
  border-top: #000 3px solid;
  border-bottom: #000 3px solid;
  
  z-index: 999999;
  
  /* fix positioning */
  height: 4rem;
  margin-top: -4rem;
  @each $breakpoint, $nav-height in $nav-heights {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      height: $nav-height;
	  margin-top: -$nav-height;
    }
  }
  
  display: flex;
  justify-content: center;
  
  .container {
	  display: flex;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;

    a {
      border: none;
      text-decoration: none;
      display: inline-block;
    }

    div {
      padding: 0 0.5rem;
      
      &:first-child{
	      padding-left: 0;
      }
      &:last-child{
	      padding-right: 0;
      }
    }
  }
}

.flex-spacer {
  flex-grow: 1;
}

.anton {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  letter-spacing: 0.005em;
}

.variaktion {
  @extend .anton;
  margin: 0;
}

.variaktion span {
  display: inline-block;
  transform: rotateZ(900deg);
  transition: all 1s ease-in-out;
}

.variaktion:hover span {
  transform: rotateY(0deg);
}

$h2-sizes: (
  sm: 3rem,
  md: 4rem,
  lg: 5rem,
  xl: 5.8rem,
  xxl: 6.5rem
);

.h2 {
  font-size: 2.5rem;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  margin-bottom: 2rem;

  @each $breakpoint, $h2-size in $h2-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $h2-size;
    }
  }
}

$h3-sizes: (
  sm: 1.75rem,
  md: 1.75rem,
  lg: 2rem,
  xl: 2.25rem,
  xxl: 2.5rem
);

.h3 {
  font-size: 2rem;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

  @each $breakpoint, $h3-size in $h3-sizes {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $h3-size;
    }
  }
}

.address p {
  margin: 0;
}

$hr-displays: (
  sm: block,
  md: none,
  lg: none,
  xl: none,
  xxl: none
);

$footer-h2-sizes: (
  xxl: 2rem
);

$footer-p-sizes: (
  xxl: 1.5rem
);

footer {
  border-top: #fff 3px solid;
  padding: 2rem 0;
  background-color: #7469B6;
  color: #fff;
  
  a {
	  color: #fff;
  }

  hr {
    border: none;
    border-bottom: #7469B6 2px solid;
  }

  .d-sm-none {
    @each $breakpoint, $hr-display in $hr-displays {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        display: $hr-display;
      }
    }
  }
  
  h2 {
	font-size: 1.5rem;
	@each $breakpoint, $footer-h2-size in $footer-h2-sizes {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        font-size: $footer-h2-size;
      }
    }  
  }

  p {
    margin: 0;
    font-size: 1rem;
    @each $breakpoint, $footer-p-size in $footer-p-sizes {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        font-size: $footer-p-size;
      }
    }
  }

  .logo svg {
    width: 70%;
    height: auto;
  }
}

$footer-icon-sizes: (
  xxl: 5rem
);

$footer-icon-text-sizes: (
  xxl: 3rem
);

$footer-icon-margin-right-sizes: (
  xxl: 1rem
);

ul.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li > a {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: none;
    text-decoration: none !important;

    i {
      border: #fff 2px solid;
      border-radius: 50%;

      font-size: 1.5rem;
      
      @each $breakpoint, $footer-icon-text-size in $footer-icon-text-sizes {
      	@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          font-size: $footer-icon-text-size;
        }
      }
      
      width: 3rem;
      height: 3rem;
      
      @each $breakpoint, $footer-icon-size in $footer-icon-sizes {
      	@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          width: $footer-icon-size;
          height: $footer-icon-size;
        }
      }

      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 0.5rem;
      @each $breakpoint, $footer-icon-margin-right-size in $footer-icon-margin-right-sizes {
      	@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          margin-right: $footer-icon-margin-right-size;
        }
      }

      transition: all 0.3s ease-in-out;
    }

    div {
      display: inline-block;
      text-decoration: underline;
      
      @each $breakpoint, $footer-p-size in $footer-p-sizes {
	    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
	      font-size: $footer-p-size;
	    }
      }
    }
  }

  li > a:hover {
	color: #fff;
	 
    i {
      background-color: #fff;
      color: #7469B6;
    }
    span {
      text-decoration: underline;
    }
  }
}

$logo-heights: (
  sm: 15rem,
  md: 25rem,
  lg: 35rem,
  xl: 60vh
);

#particles {
	padding: 0;
}

.spray-logo {
  position: relative;

  overflow: hidden;
  height: 100vh;
  
  /* Avoid Chrome to see Safari hack */
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available; /* https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
  }
  
  /* height: calc(100vh - 3.875rem); */

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    overflow: visible;

    transition: all 0.3s ease-in-out;

    height: 12.5rem;
    width: auto;

    @each $breakpoint, $logo-height in $logo-heights {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        height: $logo-height;
      }
    }
  }
}

.clip-v {
  clip-path: polygon(
    24.28930627% 100%,
    0% 0%,
    37.26388496% 0%,
    51.35696191% 68.0232558%,
    63.8841414% 0%,
    100% 0%,
    76.85872028% 100%
  );
}

.clip-a {
  clip-path: polygon(
    0 100%,
    18.20346296% 0%,
    82.02524265% 0%,
    100% 100%,
    64.26041748% 100%,
    61.62859137% 84%,
    38.81943312% 84%,
    36.62624472% 100%,
    0 100%,
    41.67057781% 68.0696158%,
    58.77744668% 68.0696158%,
    50.44333101% 17.1965076%,
    48.68878052% 17.1965076%,
    41.67057781% 68.0696158%
  );
}

section {
	padding: 2rem 0;
}

.table {
	
	margin-bottom: 1rem;
	
	td {
		padding: 0.5rem 0;
		vertical-align: top;
		@extend .anton;
		text-transform: uppercase;
		
		&:first-child{
			padding-right: 3rem;
			
			word-break: keep-all;
			white-space: nowrap;
		}
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	li {
		padding: 0.25rem 0;
	}
	
	a {
		color: #fff;
	}
}

.previous-years {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		
		font-size: 2rem;
		@extend .anton;
		
		li {
			&:before {
				content: "–";
				padding-right: 1rem;
			}
		}
	}
}

.page {
  padding-top: 1rem;
}

.page-heading {
  padding-top: 16rem;
}

.page-content {
  margin-bottom: 5rem;
}

.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
}

$h2-positions: (
  sm: relative,
  md: relative,
  lg: absolute,
  xl: absolute
);

#color-background {
  position: absolute;
  left: 0;
  right: 0;
  
  bottom: 4rem;
  height: calc(100vh - 4rem);
  
  @each $breakpoint, $nav-height in $nav-heights {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      height: calc(100vh - #{$nav-height});
      bottom: $nav-height;
    }
  }
  
  /* Avoid Chrome to see Safari hack */
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available; /* https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
  }

  background-image: url(../../img/2025/banner-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  z-index: -1;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
}

.sponsoring {
  padding-bottom: 5rem;
  font-size: 1.5rem;

  .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    margin-bottom: 2rem;

    a {
      width: 20rem;
      height: 10rem;
      padding: 4rem 4rem 0 0;
      display: block;

      &:hover {
        animation: none;
      }

      &:first-child {
        padding-left: 0;
      }

      &::last-child {
        padding-right: 0;
      }
    }
  }

  svg,
  img {
    width: auto;
    width: 100%;
    height: 100%;
    
    object-fit: contain;
    object-position: center;
  }
}

$press-h3-sizes: (
  xxl: 3rem
);

.press-articles {
	& > a {
		display: block;
		text-decoration: none;
		padding-bottom: 4rem;
	}
	h3 {
		font-size: 2rem;
		margin-bottom: 0.5rem;
		
		@each $breakpoint, $press-h3-size in $press-h3-sizes {
          @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
            font-size: $press-h3-size;
          }
        }
	}
}

$artist-displays: (
  sm: block,
  md: inline-block,
  lg: inline-block,
  xl: inline-block
);

$artist-gaps: (
  sm: 0.5rem,
  md: 0.5rem,
  lg: 1rem,
  xl: 1.5rem
);

$artist-name-sizes: (
  sm: 2.5rem,
  md: 3rem,
  lg: 4.5rem,
  xl: 4.5rem,
  xxl: 6rem
);

$smaller-artist-name-sizes: (
  sm: 2.5rem,
  md: 3rem,
  lg: 3.5rem,
  xl: 3.5rem,
  xxl: 5rem
);

$smallest-artist-name-sizes: (
  sm: 2.5rem,
  md: 3rem,
  lg: 3.5rem,
  xl: 3.5rem,
  xxl: 5rem
);

$date-name-sizes: (
  sm: 2.5rem,
  md: 3rem,
  lg: 3.5rem,
  xl: 3.5rem,
  xxl: 5rem
);

$artist-time-displays: (
  sm: block,
  md: block,
  lg: block,
  xl: block
);

$lineup-col-max-widths: (
  xl: 100%
);
$lineup-col-flexs: (
  xl: 0 0 100%
);

$lineup-container-widths: (
  xxl: 100%
);
$lineup-container-display: (
  xxl: flex
);
$lineup-container-margins: (
  xl: auto
);

.lineup {
	color: #fff;

	padding-top: 3rem;
  	position: relative;
  
  	background-image: linear-gradient(rgb(239,182,181), rgb(214,174,199));
	
	.container {
		@each $breakpoint, $lineup-container-width in $lineup-container-widths {
	      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
	        max-width: $lineup-container-width;
	      }
	    }
	    @each $breakpoint, $lineup-container-margin in $lineup-container-margins {
	      @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
	        margin-left: $lineup-container-margin;
	        margin-right: $lineup-container-margin;
	      }
	    }
	    @each $breakpoint, $lineup-container-display in $lineup-container-display {
	      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
		    display: $lineup-container-display;
	      }
	    }
	}
	.col-6{
		@each $breakpoint, $lineup-col-max-width in $lineup-col-max-widths {
	      @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
	        max-width: $lineup-col-max-width;
	      }
	    }
	    @each $breakpoint, $lineup-col-flex in $lineup-col-flexs {
	      @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
	        flex: $lineup-col-flex;
	      }
	    }
	}
}

.artists, .activities {
  @extend .anton;

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: 1rem;
    
    @each $breakpoint, $artist-gap in $artist-gaps {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        gap: $artist-gap;
      }
    }
  }
  
  .tier-1, .tier-2, .tier-3, .tier-4 {
	margin-bottom: 1rem;
	  
	@each $breakpoint, $artist-gap in $artist-gaps {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        margin-bottom: $artist-gap;
      }
    }
  }

  .tier-1 {
    font-size: 2.5rem;
    @each $breakpoint, $artist-name-size in $artist-name-sizes {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        font-size: $artist-name-size;
      }
    }
  }
  .tier-2, .tier-3, .tier-4 {
    font-size: 2.5rem;
    @each $breakpoint, $smaller-artist-name-size in $smaller-artist-name-sizes {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        font-size: $smaller-artist-name-size;
      }
    }
  }
  .tier-3, .tier-4 {
    font-size: 2.5rem;
    @each $breakpoint, $smallest-artist-name-size in $smallest-artist-name-sizes {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        font-size: $smallest-artist-name-size;
      }
    }
  }
  
  .date {
	  margin-bottom: 1rem;
	  
	  font-size: 2.5rem;
	  
	  @each $breakpoint, $date-name-size in $date-name-sizes {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          font-size: $date-name-size;
        }
      }
    
	  white-space: nowrap;
	  word-break: keep-all;
	  
	  span {
		  background-color: #7469B6;
		  padding: 0.5rem 1rem;
		  border-radius: 1rem;
	  }
	  
	  img.emoji {
		  margin-left: 1rem !important;
	  }
  }
  
  .activity {
	  padding: 1rem !important;
  }
  
  .artist-wrapper {
	  @media(max-width: 768px){
		width: 100%;
		text-align: center;
	}
  }

  .artist, .activity {
    display: inline-block;
    color: var(--artist-color, #fff);
    text-align: center;

    border-bottom: none;
    text-decoration: none;
    
    &[href]:hover > * {
	    text-decoration: underline;
    }
    
    a {
	    color: var(--artist-color, #fff);
	    text-decoration: none;
	    
	    &[href]:hover {
		    text-decoration: underline;
	    }
    }
      
    & > * {
	    display: block;
	    
	    @each $breakpoint, $artist-display in $artist-displays {
		    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
			    display: $artist-display;
			}
		}
    }
      
    & > small {
	    font-size: 0.75em;
	    white-space: nowrap;
	    word-break: keep-all;
	    
		color: #fff;
	    
	    display: block;
	    
	    span {
		    background-color: var(--artist-color, #fff);
			padding: 0.25rem 0.5rem;
			border-radius: 1rem;
			
			display: inline-block;
	    }
	}
  }
}


.map-link, .map-link:hover {
	text-decoration: none !important;
}

.map {
	position: relative;
	background-color: #B1AFFF;
	padding-bottom: 0;
	
	.title {
	    position: relative;
	    color: #fff;
	    z-index: 1;
	    
	    h2 {
		    margin-bottom: 0;
	    }
	}
}

.programm, .festival-info, .helfer, .support, .press {
	color: #fff;
	padding-bottom: 2rem;
	
	a {
		color: #fff;
		display: inline-block;
	}
	
	.table p {
		margin-bottom: 0;
	}
	
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}


.programm {
	background-color: #E1AFD1;
	
	.support-program {
		line-height: 1.5;
		
		.punkt {
			background-color: var(--farbe, #f9daac);
			padding: 0.5rem;
			display: inline-block;
			border-radius: 100%;
			
			margin: 0 0.5rem;
		}
	}
	
	h3.program-date span {
		background-color: var(--date-color, #f9daac);
		padding: 0.5rem 1rem;
		border-radius: 1rem;
		
		display: inline-block;
	}
}

.festival-info {
	background-color: #FF8A8A;
}

.helfer {
	background-color: #FFE6A9;
	color: #000;
	
	h1, h2, h3, h4, h5, h6, a, strong, b {
		color: #000;
	}
}

.support {
	background-color: #7469B6;
}

.press {
	background-color: #FF8A8A;
	
}

.sponsoring {
	background-color: #BBE9FF;
}

.previous-years {
	background-color: #7469B6;
	color: #fff;
	
	a {
		color: #fff;
	}
}